//import grids from bulma
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')
@import "reset.sass"
@import "partials/_variables.sass"
@import "partials/_mixins.sass"
@import "partials/_animation.sass"
@import "../bulma/sass/utilities/_all.sass"
@import "../bulma/sass/grid/_all.sass"


p
 font:
  family: $font-family
  size: $font-size-m

 &.title
  font-size: $font-size-l
  line-height: $font-lh-l
  letter-spacing: 0rem
 &.title-xl
  font:
   size: $font-size-xxl
   weight: $font-weight-r
  line-height: $font-lh-xxl
  letter-spacing: $font-ls-l
 &.label
  font:
   size: $font-size-m
   weight: $font-weight-r
  color: $mediumgrey
  text-transform: $font-uppercase
 &.annotation
  font:
   size: $font-size-m
   weight: $font-weight-r
   style: italic
  line-height: $font-lh-m
  padding: $padding-s
  color: $mediumgrey
  &:hover 
   transform: scale(1.02)
   transition: $transition-time

//universal styles


* 
 font-family: sans-serif
 text-align: center
 box-sizing: border-box

html
 font-family: $font-family
 font-size: $font-size-base
 overflow: scroll
 overflow-x: hidden
 &::-webkit-scrollbar 
  width: 0px /* remove scrollbar space */
  background: transparen /* optional: just make scrollbar invisible */

body 
 margin: 0 auto
 padding: $padding-xxl
 width: 93%


//links
a 
 @include links

//input
label
 font-size: $font-size-m
 text-transform: $font-uppercase

input
 font-family: $font-family
 padding: $padding-s
 font-size: $font-size-m
 border: 1px solid $white
 border-bottom: 1px dotted $neutralgrey
 &::placeholder 
  font-family: $font-family
  color: $mediumgrey
  font-style: italic
 &:hover
  border-bottom: 1px dotted $textgrey
 &:focus
  outline: none


//top nav area
.nav
 padding: $padding-m 0
 width: 100%
 position: relative

 img 
  max-width: 40%
  display: inline-block
 .how
  cursor: pointer
  // display: flex
  // flex-flow: column wrap
.instructions
 position: absolute
 margin-left: auto
 margin-right: auto
 top: 25rem
 left: 0
 right: 0
 max-width: 800px
 z-index: 10
 width: auto
 padding: $padding-xxl
 height: auto
 color: $white
 background: $red
 transition: 200ms transform ease-in-out
 transform: rotatex(90deg)
 transform-origin: middle
.nav:hover .instructions
 transform: rotatex(0deg)
 background: $black
 transition: $transition-time 
 background: $red










//tiles
.wrapper
 // padding: $padding-xs

 display: flex
 flex-flow: row wrap
 // border: $border-
 background: $black


//dropping zone
.content 
 flex: 1
 // border: 1px solid $mediumgrey
 width: 28rem
 background: $white
 height: 40rem
 padding: $padding-s




 

//wrapper for the tiles
.tiles
 flex: 2
 padding: $padding-m
 // background: $blue

//card container
.card 
 border: $border-b
 // height: 540px
 // min-height: 480px
 background: $white
 .header
  padding: $padding-xl $padding-s
  border-bottom: $border-b

 .form
  padding: $padding-xl
  border-bottom: $border-b
  &:hover
   background: $red
   color: $white





// base ball cards content drag container
.collection 


 


//individual card
.container 
 cursor: move
 // min-width: 80px
 // min-height: 80px
 display: inline-block
 background: $bggrey
 color: $textgrey
 border: $border-b
 margin: $padding-xs
 padding: $padding-s
 &:hover
  transform: scale(1.2)
  background: $red
  border: $border-r
  color: $white
  // box-shadow: 2px 2px 0px 2px $white
  transition: 0.2s






//animated shadow pop
.shadow-pop-tr
 -webkit-animation: shadow-pop-tr 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both
 animation: shadow-pop-tr 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both





